@model ImageProcessorUI.Models.ImageDataV2

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div>@Model.SourceImageFile</div>
    <form>
        <div class="form-group">
            <img src="@Model.ImageSoucePath" alt="Smiley face" height="100" width="100" />
            <div class="form-control">
                <div class="imageString">
                    @Model.SourceImageFile
                </div>
            </div>
            <div class="form-control"><div class="imageString">@Model.Id</div></div>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">ID</th>
                <th scope="col">Need resize</th>
                <th scope="col">Need Rotate left</th>
                <th scope="col">Need Rotate right</th>
                <th scope="col">Need flip vertically</th>
                <th scope="col">Need flip horizontally</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @*<th scope="row">1</th>*@
                <td>@Model.Title</td>
                <td>@Model.Id</td>
            </tr>
        </tbody>
    </table>
    <div>@Model.Image</div>
    @foreach (var item in Model.Requests)
    {
        <div>@item.Key : @item.Value</div>
    }    
</div>
